h1{text-align:center;}
h4{text-align:center;}
p{text-align:center;}
h2{text-align: center;}
h3{text-align: center;}
h3{color: rgb(175, 175, 138);}
body{background-color: rgb(4, 53, 53);}
h1{color: rgb(175, 175, 138);}
h4{color: rgb(175, 175, 138);}
p{color: rgb(175, 175, 138);}
h2{color: rgb(175, 175, 138);}
ul{color: rgb(175, 175, 138);}

